<h1>Welcome to The National Park System!</h1>

<div class ="main">
    <p><a href = "/parks">See All Parks</a></p>
    <p><a href = "/parks/new">Add a Park</a></p>
    <p><a href = "/rangers">See all Rangers</a></p>
    <p><a href = "/rangers/new">Add a Ranger</a></p>
</div>
